
# Admin password to use for Rancher server bootstrap, min. 12 characters
rancher_server_admin_password = ""

# Scaleway access key used to create infrastructure
scw_access_key = ""

# Scaleway project id used to create infrastructure
scw_project_id = ""

# Scaleway secret key used to create infrastructure
scw_secret_key = ""

# Version of cert-manager to install alongside Rancher (format: 0.0.0)
cert_manager_version = "1.11.0"

# Instance type used for all instances
instance_type = "DEV1-M"

# Prefix added to names of all resources
prefix = "quickstart"

# The helm repository, where the Rancher helm chart is installed from
rancher_helm_repository = "https://releases.rancher.com/server-charts/latest"

# Kubernetes version to use for Rancher server cluster
rancher_kubernetes_version = "v1.24.14+k3s1"

# Rancher server version (format: v0.0.0)
rancher_version = "2.7.9"

# Scaleway region used for all resources
scw_region = "fr-par"

# Scaleway zone used for all resources
scw_zone = "fr-par-1"

# Kubernetes version to use for managed workload cluster
workload_kubernetes_version = "v1.24.14+rke2r1"