# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# terraform.tvars
terraform.tfvars

# known files created by terraform modules
id_rsa*
kube_config*

# vagrant files
.vagrant/

# MacOS junk
.DS_Store
