#!/bin/bash -x

if docker ps; then
    exit 0
fi

systemctl enable docker
systemctl start docker

privateIP=$(curl -H 'Metadata-Flavor: Google' http://metadata.google.internal/computeMetadata/v1/instance/network-interfaces/0/ip)

${register_command} --address ${public_ip} --internal-address $privateIP --etcd --controlplane --worker
