
# Outscale access key
access_key_id = ""

# Admin password to use for Rancher server bootstrap
rancher_server_admin_password = ""

# Outscale secret key
secret_key_id = ""

# Version of cert-manager to install alongside Rancher (format: 0.0.0)
cert_manager_version = "1.5.3"

# Docker version to install on nodes
docker_version = "19.03"

# Instance type used for all VM
instance_type = "tinav3.c4r8p2"

# Outscale machine Image to use for all instances
omi = "ami-504e6b16"

# Prefix added to names of all resources
prefix = "quickstart"

# Kubernetes version to use for Rancher server cluster
rancher_kubernetes_version = "v1.21.8+k3s1"

# Rancher server version (format: v0.0.0)
rancher_version = "v2.6.3"

# Outscale region
region = "eu-west-2"

# Kubernetes version to use for managed workload cluster
workload_kubernetes_version = "v1.20.6-rancher1-1"