
# Azure client id used to create resources
azure_client_id = ""

# Client secret used to authenticate with Azure apis
azure_client_secret = ""

# Azure subscription id under which resources will be provisioned
azure_subscription_id = ""

# Azure tenant id used to create resources
azure_tenant_id = ""

# Admin password to use for Rancher server bootstrap
rancher_server_admin_password = ""

# Admin password to use for the Windows VM
windows_admin_password = ""

# Add a windows node to the workload cluster
add_windows_node = false

# Azure location used for all resources
azure_location = "East US"

# Version of cert-manager to install alongside Rancher (format: 0.0.0)
cert_manager_version = "1.7.1"

# Docker version to install on nodes
docker_version = "19.03"

# Instance type used for all linux virtual machines
instance_type = "Standard_DS2_v2"

# Prefix added to names of all resources
prefix = "quickstart"

# Kubernetes version to use for Rancher server cluster
rancher_kubernetes_version = "v1.21.11+k3s1"

# Rancher server version (format: v0.0.0)
rancher_version = "2.6.4"

# Kubernetes version to use for managed workload cluster
workload_kubernetes_version = "v1.21.10-rancher1-1"